<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>OriTeddies</title>

      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      
      <link rel="stylesheet" href="../css/style.css">
      <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      <script src="../javascript/common.js"></script>
      <script src="../javascript/queries.js"></script>
      <script defer src="../javascript/produit.js"></script>
      
   </head>
   <body>
      
      <!-- Navigation -->
      <header>
         <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
           <div class="container">
   
             <a class="navbar-brand" href="../index.html">ORITEDDIES</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
   
             <div class="justify-content-end collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                   <a class="nav-link" href="../index.html">Accueil
                     <span class="sr-only">(current)</span>
                   </a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="./panier.html">Panier<i class="fas fa-shopping-cart ml-1"></i><span class="badge badge-light ml-2"></span></a>
                 </li>
               </ul>
             </div>
   
           </div>
         </nav>
      </header>
      <!-- /Navigation -->

      <!-- Page Content -->
      <div class="container-lg pt-3 pb-5">
         <div class="border border-dark bg-secondary rounded text-center text-white py-2">
            <h1>Oriteddies</h1>
            <h2 class="h4">Ma sélection</h2>
         </div>
      </div>
      
      <div class="container mb-5">
         <div class="row" id="article">
            <!-- Contenu généré via JS -->
         </div>
      </div>
      <!-- /Page Content -->

      <!-- Alerte en cas de problème avec le serveur -->
      <div class="container-lg d-none">
         <div class="alert alert-danger text-center font-weight-bold h4" role="alert">
            <!-- Contenu généré via JS -->
          </div>
      </div>
      <!-- /Alerte en cas de problème avec le serveur -->

      <!-- Footer -->
      <footer class="py-3 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; OriTeddies 2020</p>
        </div>
      </footer>
      <!-- /Footer -->

      <!-- Modal -->
      <div class="modal fade" id="confirmationAjoutPanier" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="confirmationAjoutPanier" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirmation ajout panier</h5>
               </div>
               <div class="modal-body">
                  Ce produit a bien été ajouté au panier.
               </div>
               <div class="modal-footer">
                  <a href="../index.html" class="btn btn-success">Continuer mes achats</a>
                  <a href="./panier.html" class="btn btn-primary">Aller au panier</a>
               </div>
            </div>
         </div>
      </div>
      <!-- /Modal -->
    
      <!-- Bootstrap core JavaScript -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
    </body>
</html>